/*.first {
    position: relative;
    width: 200px;    
}

.second {
    position: relative;
    width: 200px;
}

.third {
    position: relative;
    width: 200px;
}

.fourth {
    position: relative;
    width: 200px;
}

.fifth {
    position: relative;
    width: 200px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: white;
  background-color: black;
  font-weight: 300;
  line-height: 1.6; 
  display: grid;
}

.container {
  margin: 2rem auto; 
  margin: 50px;
  position: relative;

}

img {
  width: 600px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 400px;
  padding: 600px;
}

.text {
  font-size: 20px;
  font-family:'Courier New', Courier, monospace
}